.container1 {
  margin-top: 160px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f8f9fa;
}

.card {
  border: none;
}

.card-footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

button {
  font-weight: bold;
  font-size: 14px;
}
.card {
  border: none;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.5), 0 0 25px rgba(0, 123, 255, 0.3);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: #f8f9fa;
}

.card-footer {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

button {
  font-weight: bold;
  font-size: 14px;
}
label {
  color: blueviolet;
}
